<?xml version="1.0" encoding="$encoding"?>
<jnlp
    spec="$jnlpspec"
    xmlns:jfx="http://javafx.com"
    codebase="http://localhost:8080/websocket-test/webstart/" 
    href="$outputFile">
  <information>
#if($project.Name)
    <title>$project.Name</title>
#end
#if($project.Organization.Name)
    <vendor>$project.Organization.Name</vendor>
#end
#if($project.Url)
    <homepage href="$project.Url"/>
#end
#if($project.Description)
    <description>$project.Description</description>
#end
#if($offlineAllowed)
    <offline-allowed/>
#end
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se version="$j2seVersion"/>
    <jfx:javafx-runtime version="2.2+"/>
     $dependencies
     $extensions
  </resources>
  <application-desc main-class="$mainClass"/>
  <jfx:javafx-desc  width="480" height="320" main-class="$mainClass"  name="$project.Name" />
</jnlp>